body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.sticky-header {
    display: flex;
    justify-content: space-between;
    background: #A2B29F;
    position: fixed;
    top: 0;
    left: 0;
    height: 3em;
    width: 100%
}

.logo-header {
    padding-left: 1.5em;
}

.home-btn {
    margin-right: 1.5em;
    padding-top: 7px;
    padding-bottom: 7px;
    height: 1.8em;
    width: auto;
}

.back-btn {
    margin-top: 6em;
    margin-left: 100px;
}

.back-btn img {
    height: 20px;
}

article {
    margin-top: 4em;
    margin-bottom: 5em;
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    flex-direction: column;
}

.version,
.organization-name {
    margin-top: 1em;
    margin-left: 0;
    text-align: center;
}

.version {
    margin-bottom: 0;
}

.organization-name {
    margin-bottom: 4em;
}

.author {
    margin-top: 1em;
    text-align: center;
    font-style: italic;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.author span {
    margin-right: 1em;
}

.author span:nth-child(3) {
    margin-left: 10vw;
}

article h1 {
    font-size: 2em;
    text-align: center;
}

article p {
    text-align: justify;
    text-justify: inter-word;
}

article h2 {
    text-align: center;
    margin-top: 2.5em;
}

article h3 {
    margin-left: 10vw;
}

article h4 {
    display: block;
    font-size: 1.05em;
    font-weight: bold;
}

article a {
    overflow-wrap: break-word;
}

table th {
    border: 1px solid black;
}

.one-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.two-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.two-images>div:first-child {
    margin-right: 5vw;
}

#treiUnuUnu,
#treiUnuTrei,
.patruUnuUnu {
    width: 62vw;
    height: auto;
}

#treiUnuDoi,
#treiUnuPatru,
.patruUnuDoi {
    width: 13vw;
    height: auto;
}

#treiUnuCinci,
#treiUnuSase,
.patruDoiUnu,
.patruDoiDoi {
    width: 35vw;
    height: auto;
}

.one-image img {
    width: 60vw;
}

footer {
    bottom: 0;
    left: 0;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    height: auto;
    width: 100%;
    background: #A2B29F;
    color: #3D473D;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo-footer {
    align-self: center;
    height: 5em;
    width: auto;
}

.contact-person {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 1em;
}

.contact-person p {
    margin: 0;
}

.documentatie a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: inherit;
}

.documentatie a img {
    align-self: center;
}

.documentatie p {
    padding-left: 1em;
    margin-top: 0;
}

.documentatie a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 950px) {
    .two-images {
        flex-direction: column;
    }
    #treiUnuUnu,
    #treiUnuTrei,
    .patruUnuUnu {
        width: 75vw;
        height: auto;
    }
    #treiUnuDoi,
    #treiUnuPatru,
    .patruUnuDoi {
        width: 40vw;
        height: auto;
    }
    #treiUnuCinci,
    #treiUnuSase,
    .patruDoiUnu,
    .patruDoiDoi {
        width: 60vw;
        height: auto;
    }
}