body {
    margin: 0;
}

.sticky-header {
    display: flex;
    justify-content: space-between;
    background: #A2B29F;
    position: fixed;
    top: 0;
    left: 0;
    height: 3em;
    width: 100%
}

.logo-header {
    padding-left: 1.5em;
}

.home-btn {
    margin-right: 1.5em;
    padding-top: 7px;
    padding-bottom: 7px;
    height: 1.8em;
    width: auto;
}

.landing-page {
    background-image: url("../assets/landing-page.jpg");
    margin-top: 1em;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    font-size: 25px;
    color: #748072;
}

footer {
    bottom: 0;
    left: 0;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    height: auto;
    width: 100%;
    background: #A2B29F;
    color: #3D473D;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo-footer {
    align-self: center;
    height: 5em;
    width: auto;
}

.contact-person {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 1em;
}

.contact-person p {
    margin: 0;
}

.documentatie a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: inherit;
}

.documentatie a img {
    align-self: center;
}

.documentatie p {
    padding-left: 1em;
    margin-top: 0;
}

.documentatie a:hover {
    text-decoration: underline;
}